
          <div class="sort-bar">
      <%= sort_products(params) %>
    </div>

<div data-hook="search_results">
	
  <% if @products.empty? %>

	  <h6 class="search-results-title"><%= t(:no_products_found) %></h6>

  <% else %>

  	  <%= render :partial => 'spree/shared/products_search_table', :locals => { :products => @products, :taxon => @taxon } %>
  		
  <% end %>

  <% if params[:keywords].present? %>
  
  	  <% @ingredients = search_ingredients(params[:keywords]) %>
  
  	  <% if @ingredients.blank? %>
  
  	  	<h6 class="search-results-title"><%= t(:no_ingredients_found) %></h6>
  
  	  <% else %>
    
  	  	<%= render :partial => 'spree/shared/ingredients_search_table', :locals => { :ingredients => @ingredients, :taxon => @taxon } %>

  	  <% end %>

  <% end %>
  	  
</div>
