<h1 class="taxon-title"><%= accurate_title %></h1>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>

    <%= render :partial => 'spree/shared/filters' %>


    <%= render :partial => 'spree/shared/recently_viewed_products' %>    
  </div>
<% end %>

<% if @taxon.children.empty? %>

  <h5 class="taxon-title">All Products in <%= @taxon.name %></h5>
  
<div data-hook="taxon_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>

<% else %>

<% unless params[:keywords].present? %>


	<% if !@taxon.children.empty? %>
	
	  <h5 class="taxon-title" style="margin-bottom:25px">Subcategories in <%= @taxon.name %></h5>

	  <% end %>

  <div data-hook="taxon_children">

	<ul>
	
		<% @taxon.children.each do |child| %>
		
	<li style="display:block; float:left; width:160px; height:160px; border: 1px solid grey; margin:5px; padding: 5px; text-align: center">
	
		 <div><%= link_to child.name, seo_url(child), :class => 'breadcrumbs' %></div>
  
<div><%=  link_to image_tag(child.icon.url(:normal), :alt => child.name), seo_url(child)   %>
</div>
	</li>
	
	<% end %>
	    
	</ul>
	
  </div>
<% end %>

<% end %>


  <h5 class="taxon-title">All Products in <%= @taxon.name %></h5>
  
<div data-hook="taxon_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>
