<h1 class="taxon-title"><%= accurate_title %></h1>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>


    <%= render :partial => 'spree/shared/recently_viewed_products' %>    
  </div>
<% end %>

  <h5 class="taxon-title">All Products in <%= @taxon.name %></h5>
  
<div data-hook="taxon_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>


<% unless params[:keywords].present? %>

	<% if !@taxon.children.empty? %>
	
	  <h5 class="taxon-title" style="margin-bottom:25px">Products by Subcategory</h5>

	  <% end %>

  <div data-hook="taxon_children">
    <%= render :partial => 'taxon', :collection => @taxon.children %>
  </div>
<% end %>
