<% content_for :head do %>
  <%= javascript_include_tag states_url(:format => :js) %>
  <%= javascript_include_tag countries_url(:format => :js) %>
<% end %>

<h1><%= accurate_title %></h1>

<div data-hook="account_summary" class="account-summary">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  <%= form_for @user, :url => spree.user_path(@user), :method => :put do |f| %>
  <p>
    <%= f.label :email, t(:email) %><br />
    <%= f.email_field :email, :class => 'title' %>
  </p>

  <p>
    <%= f.label :first_name, t(:first_name) %><br />
    <%= f.text_field :first_name, :class => 'title' %>
  </p>

  <p>
    <%= f.label :last_name, t(:last_name) %><br />
    <%= f.text_field :last_name, :class => 'title' %>
  </p>


  <p>
    <%= f.submit t(:update), :class => 'button primary' %>
  </p>
  <% end %>

</div>

<h3>Addresses</h3>

<div class="shipping-address">
  <div class="columns alpha twelve">

  <% @primary_address = Spree::Address.primary_address(spree_current_user) %>
  <% @second_address = Spree::Address.secondary_address(spree_current_user) %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @primary_address } %>

  <div class="columns alpha six">
    <%= form_for @primary_address, :namespace => "primary_address", :html => {:id => "checkout_form_address" } do |f| %>
    <%= f.hidden_field :position, :value => 1 %>
    <fieldset>
      <%= content_tag(:legend, t(:primary_address, :scope => :address_book)) %>
      <div class="inner">
        <%= render :partial => 'spree/users/address_form', :locals => {   :address_name => 'address',
        :address_form => f,  :address_type => 'shipping',  :address => @primary_address   } %>
      </div>
      <%= f.submit t(:update) %>
    </fieldset>
    <% end %>
  </div>

  <div class="columns alpha six">
    <%= form_for @second_address, :namespace => "secondary_address", :html => {:id => "checkout_form_address" } do |f| %>
    <%= f.hidden_field :position, :value => 2 %>
    <fieldset>
      <%= content_tag(:legend, t(:secondary_address, :scope => :address_book)) %>

      <div class="inner">
        <%= render :partial => 'spree/users/address_form', :locals => {   :address_name => 'address',
        :address_form => f,  :address_type => 'billing',  :address => @second_address   } %>
      </div>
      <%= f.submit t(:update) %>
    </fieldset>
    <% end %>
    </div>
  </div>
</div>

<div class="columns alpha twelve">

<h3>About me</h3>
<div class="">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
  <%= form_for @user, :url => spree.user_path(@user), :method => :put do |f| %>

  <p>
    <%= f.label :health_issues, t(:health_issues) %><br />
    <%= f.text_field :health_issues, :class => 'title' %>
  </p>

  <p>
    <%= f.label :fitness_goals, t(:fitness_goals) %><br />
    <%= f.text_field :fitness_goals, :class => 'title' %>
  </p>
  <p>
    <%= f.label :fitness_routines, t(:fitness_routines) %><br />
    <%= f.text_field :fitness_routines, :class => 'title' %>
  </p>

  <p>

    <legend>Cats: <%= link_to "add", '#', :id => "add_new_cat" %><legend>
        <table width="" cellspacing="" cellpadding="" border="0" id="table-cats">
          <tr>
            <th>Name</th>
            <th>weight</th>
            <th></th>
          </tr>

          <%= f.fields_for :cats,  current_user.cats_or_build do |cat_form| %>
          <tr>
            <td>
              <%= cat_form.text_field :name, id: nil %>
            </td>
            <td>
              <%= cat_form.text_field :weight, id: nil %>
            </td>

            <td>
              <% unless cat_form.object.new_record? %>
              <%= cat_form.label :_destroy, :style => "display:block;width:90px;" do %>
              Remove: <%= cat_form.check_box :_destroy %>
              <% end %>
              <% end %>
            </td>

          </tr>
          <% end %>
        </table>
  <p>
    <%= f.submit t(:update), :class => 'button primary' %>
  </p>
  <% end %>

</div>


<div data-hook="account_my_orders-" class="account-my-orders">

  <h3><%= t(:my_orders) %></h3>
  <% if @orders.present? %>
    <table class="order-summary">
      <thead>
      <tr>
        <th class="order-number"><%= t(:order_number) %></th>
        <th class="order-date"><%= t(:order_date) %></th>
        <th class="order-status"><%= t(:status) %></th>
        <th class="order-payment-state"><%= t(:payment_state) %></th>
        <th class="order-shipment-state"><%= t(:shipment_state) %></th>
        <th class="order-total"><%= t(:total) %></th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td class="order-number"><%= link_to order.number, order_url(order) %></td>
          <td class="order-date"><%= l order.completed_at.to_date %></td>
          <td class="order-status"><%= t(order.state).titleize %></td>
          <td class="order-payment-state"><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
          <td class="order-shipment-state"><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
          <td class="order-total"><%= money order.total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(:you_have_no_orders_yet) %></p>
  <% end %>
  <br />

</div>
</div>
