<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review" style="padding: 10px; border: 1px solid #444; border-radius: 6px; margin-top: 10px">
  <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
    <%= render :partial => "spree/reviews/stars", :locals => {:stars => review.rating} %>
  </span>
  <span itemprop="name"><%= review.title %></span>
  <br/>
  
  <div itemprop="reviewBody" style="margin-top:5px; margin-bottom:5px">
    <%= review.review %>
  </div>

  <meta itemprop="reviewRating" content="<%= review.rating %>" />
  <% if Spree::Reviews::Config[:show_email] && review.user %>
    <span itemprop="author"><%= review.user.email %></span>
  <% else %>
    <span itemprop="author"><%= review.name %></span>
  <% end %>
  <span class="attribution"><strong itemprop="datePublished"><%= l review.created_at.to_date %></strong></span>

  <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user) %>
  <div class="feedback_review" id="feedback_review_<%= review.id %>">
    <%= render :partial => "spree/feedback_reviews/form", :locals => {:review => review} %>
  </div>
  <% end %>
</div>
